*{
   margin: 0;
   padding: 0;
}
body{
   background-color: #182052;
   
}
.imagem-cima{
   width: 100%;
   display: flex;
   align-items: end;
   justify-content: end;

}
.imagem-cima img{
   object-fit: cover;
   height: 30%;
   width: 30%;
   display: flex;
   
}

.imagem-baixo{
   width: 100%;
   display: flex;
   align-items: start;
   justify-content: start;
  

}
.imagem-baixo img{
   object-fit: cover;
   height: 30%;
   width: 30%;
   display: flex;
   
   
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10%;
   
    
}
 .card-container .card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 38rem;
    min-width: 28rem;


 }
 .card-container .card form{
    flex-direction: column;
    display: flex;
    justify-content: center;
 }
 .card-container .card form, input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;
    border-color:rgb(69, 69, 69) ;
    color:   rgb(69, 69, 69);

 }
 .card-container .card  label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(69, 69, 69);

 }

 .card-container span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-size:2.0rem;
   
    color:#370466;
 }

 .card-container .card{
    background-color: rgb(253, 253, 253);
 
    border-radius: 20px;
    width: 25%;
 }
 .card-container h5{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .card-container .card .botao{
   background-color:#370466;
    color: white;
    width: 70%;
    font-size: 1.0rem;
    font-weight: 700;
 }

 

