.main {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.titulo {
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 5%;
    margin-left: 4%;

}

.barra-pesquisa {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid royalblue;
    margin-top: 5%;
    width: 20%;
    



}

.barra-pesquisa input {
    border: none;

}


.estrutura-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 15%;
    gap: 40px;

}

.estrutura-card .card {
    background-color: rgba(251, 251, 251, 0.655);
    height: 30rem;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgb(116, 116, 116);

}

.estrutura-card .card .imagem-aluno {
    width: 100%;
    margin-top: 5%;
    height: 15%;

    border: none;

}

.estrutura-card .card .imagem-aluno img {
    width: 22%;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 133px;

}

#align-icon {
    float: right;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;




}

.estrutura-card .card .nome-aluno {
    border-bottom: 1px solid gray;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 800;
    font-size: 1.1rem;
}

.estrutura-card .card .alinhar-dados {
    flex-direction: column;
    margin-right: 20%;
}

.estrutura-card .card h4 {
    color: gray;
    font-size: 0.9rem;


}

.filtro span {
    display: inline-flex;
    align-items: center;
    justify-content: center;


}

.filtro .botao {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.filtro .botao:hover {
    background-color: #4d3cd1;
    transition: 0.5s all ease-in-out;
    color: white;
   


}

.filtro {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
}

.filtro select {
    background-color: white;
    border: none;

}

.filtro .alinha-filtro {

    
    align-items: center;
    display: flex;
    gap: 40px;

}