* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sistema-busca .barra-pesquisa {
  border-radius: 20px;
  padding: 5px;
  border: none;
  margin-top: 0px;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: absolute;
  display: flex;
  background-color: white;
}

.sistema-busca .barra-pesquisa input {
  border: none;
  width: 100%;
  padding: 5px;
}
.sistema-busca .barra-pesquisa input:focus {
  outline: none;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 0;
}
main .img-cima {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  height: 100px;
}
main .img-cima img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.titulo-vagas {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 3%;
  margin-left: 8%;
}
.sistema-busca {
  background-color: #555cb3;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 70%;
  margin-left: 26%;
  border: none;
  border-radius: 15px;
  margin-top: 5%;
}
.sistema-busca .align-filtro .filtro {
  width: 110px;
  height: 50px;
  background-color: rgb(250, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 2px solid gray;
}
.sistema-busca .align-filtro {
  display: flex;
  width: 90%;

  align-items: center;
  justify-content: end;
}
.sistema-busca form {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 120px;
  position: absolute;
  margin-left: -115px;
  border-radius: 10px;
  gap: 20px;
  border: 1px solid gray;
  z-index: 1;
}
.sistema-busca form .align-form-filtro {
  display: flex;
  width: 100%;
  margin-left: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.sistema-busca form .align-form-filtro input {
  width: 100%;
  display: flex;
}
.sistema-busca .modal-filtro {
  background-color: rgb(255, 255, 255);
  display: none;
}
.sistema-busca form .button-filtro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 10px;
  background-color: #555cb3;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  padding: 10px;
  width: 90px;
}

.lista-vagas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 24%;
  width: auto;
  background-color: white;
  margin-top: 2%;
}
.lista-vagas .tabela {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 0%;
}
.lista-vagas table th {
  display: flex;
  font-weight: 500;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.lista-vagas table td {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  color: gray;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  align-items: start;
  justify-content: start;
}
.lista-vagas .icons {
  display: flex;
  margin-top: 0px;

  flex-direction: column;
  gap: 15px;
}
.lista-vagas .icons i {
  font-size: 2rem;
  font-weight: 600;
}
.linha {
  border: 1px solid gray;
  width: auto;
  margin-left: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.card-indicacao {
  display: none;

  z-index: 5;

  position: fixed;
  height: 100%;
  width: 800px;
  justify-content: center;

  margin-top: -120px;
}
.card-indicacao .title-indicacao {
  text-align: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.card-indicacao .align-card-indicacao {
  display: flex;
  border: 2px solid gray;
  border-radius: 30px;

  flex-direction: column;
  position: absolute;
  height: 450px;
  width: 490px;
  background-color: white;
  margin-left: 50px;
  margin-top: 250px;
}
.card-indicacao .align-card-indicacao form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 5px;
}
.card-indicacao .align-card-indicacao form label {
  font-weight: 700;
}
.card-indicacao .align-card-indicacao form input {
  width: 75%;
  border-radius: 30px;
  border: 2px solid gray;
  padding: 13px;
  font-size: 1.1rem;
  font-weight: 700;
}
.card-indicacao .align-card-indicacao form input:focus {
  outline: none;
}
.card-indicacao .align-card-indicacao form textarea:focus {
  outline: none;
}
.card-indicacao .align-card-indicacao form textarea {
  width: 85%;
  border: 2px solid gray;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
.card-indicacao .align-card-indicacao .botao-indicacao {
  padding: 14px;
  background-color: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  font-size: 0.9rem;
  font-weight: 800;
  transition: 0.5s all ease-in-out;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-indicacao .align-card-indicacao .botao-indicacao:hover {
  transition: 0.5s all ease-in-out;
  background-color: rgb(224, 5, 5);
}
.card-indicacao .align-card-indicacao .align-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
