.descricao-alphatec{
    display: flex;
    align-items: center;
    margin-top: 10%;
    gap: 60px;
    border-top: 2px solid black;
    border-right:none ;
}

.descricao-alphatec .align-imagens{
    background-color:#0c042c;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.descricao-alphatec .align-imagens .bolaazul{
    object-fit: cover;
    display: flex;
    align-items: center;
    width: 250px;
    height: 200px;
}

.align-imagens .logo-alpha{
    object-fit: cover;
    display: flex;
    align-items: left;
    width: 450px;
    height: 400px;
}


.textos-alphatec .alinhar-texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos-alphatec .alinhar-texto h4{
    width: 700px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    font-weight: 100;
}
