body{
   background-color:#ffffff; 
   font-family: Arial, Helvetica, sans-serif;
 }
 
 main {
   margin-left:20%; 
   overflow:hidden;
   padding: 20px;
 } 
 
 .cima{
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1;
   width: 18%;
 }
 
 .baixo{
   position: fixed;
   bottom: 0;
   right: 0;
   z-index: 1;
   width: 16%;
 }
 
main a{
   font-size: 25px;
   text-decoration: none;
   color: black;
}
 
main a i{
   font-size: 25px;
   color: red;
   padding:10px;
   width: 25px;
   height: 25px;
   border: 1px solid red;
   border-radius: 100px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}


.formulario-cadastrar-vaga{
   display: flex;
   align-items: center;
   justify-content: center;
}

.formulario-cadastrar-vaga form{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 40px;
width:60%;
height: auto;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(255, 0, 0);
border-radius: 45px;
padding: 40px;
gap: 15px;
z-index: 5;
}
 

form .alinhaento-inputs{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 background-color: white;
  gap:20px;
  padding: 10px;
}

 
form h1{
  font-size:22px;
  }


form .alinhaento-inputs div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
background-color: white;
gap: 40px;

}


form .alinhaento-inputs span{
   display: flex;
   flex-direction: column;
   gap: 8px;
   width: 100%;
}


form .alinhaento-inputs span label{
font-size: 17px;
}

.formulario-cadastrar-vaga .alinhaento-inputs input{
   padding: 9px;
   border-radius: 25px;
   border: 1px solid blue;
   width:100%;
}

.formulario-cadastrar-vaga .alinhaento-inputs span .descricao{
  height:40px;
  padding: 10px;
}


input:focus{
outline: none;
}
 
.botao-vaga{
   padding: 10px;
   border-radius: 20px;
   border: none;
   width: 200px;
   color: white;
   background-color: rgb(10, 10, 87);
   font-size: 15px;
   cursor: pointer;
}

.requisitos-caixa{
  border-radius: 20px;
  padding: 20px;
  width:100% ;
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 20px;
}

thead tr th{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}


.requisitos-caixa tbody{
padding-bottom:10px;
max-height: 200px;  
overflow-y: scroll;
border-radius: 15px;
background-color: rgba(216, 212, 212, 0.349);
width: 300px;
}

.requisitos-caixa tbody::-webkit-scrollbar {
   width: 10px;              
 }
 
 .requisitos-caixa tbody::-webkit-scrollbar-track {
   background: rgb(255, 255, 255);     
 }
 
 .requisitos-caixa tbody::-webkit-scrollbar-thumb {
   background-color:  #6f6f6f;    
   border-radius: 50px;      
   border: 2px solid rgb(253, 253,253);}


tbody tr td{
      padding:25px;
   word-break: break-all;
   line-height: 25px;
   width: 300px;
}


tbody tr{
   border-bottom:1px solid rgb(112, 112, 112) ;

   width: 300px;
}

.requisitos-caixa .add-requisito {
  font-size: 30px;
  color: red;
  cursor: pointer;
}


.dialog-requisitos{
   background-color: rgba(255, 255, 255, 0);
   display: none;
   border: none;
   position: fixed;
   height: 100%;
   z-index: 10;
   transform: translateY(20%)
}

.dialog-requisitos .form-requisitos{
   animation:500ms linear trans;

}
@keyframes trans{
   0%{opacity: 0%; transform: translateY(20%);}

   100%{opacity: 100%; transform: translateY(0px);}

   }


.dialog-requisitos .form-requisitos .inputs-dialog{
  background-color: rgb(255, 255, 255);
  width:300px;
  height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   border: rgb(17, 12, 12) 1px solid;
   border-radius: 10px;
   z-index: 15;
}


.dialog-requisitos .form-requisitos .inputs-dialog label{
   font-size: 17px;
   display: flex;
   align-items: center;
   gap: 20px;
}

.dialog-requisitos .form-requisitos .inputs-dialog label i{
   font-size: 27px;
   color: red;
   cursor: pointer;
}

.dialog-requisitos .form-requisitos .inputs-dialog textarea{
   padding: 10px;
   border-radius: 5px;
   border: 1px solid rgb(89, 89, 91);
   width:300px;
   height: 250px;
   padding-bottom: 130px;
   min-height:50px;
   min-width: 200px;
   max-width: 250px;
   max-height: 90px;
   word-break: break-all;
   font-family: Arial, Helvetica, sans-serif;
   outline: none;
}

.dialog-requisitos .form-requisitos .inputs-dialog .botao-dialog{
   padding: 9px;
   border-radius: 20px;
   border: none;
   width: 130px;
   color: white;
   background-color: rgb(10, 10, 87);
   font-size: 15px;
   cursor: pointer
}