body{
    background-color:#ffffff; 
    font-family: Arial, Helvetica, sans-serif;
  }

main {
    margin-top: 125px;
    margin-left:200px; /* Same as the width of the sidenav */
    margin-right:200px;
    overflow:hidden;
} 

.cards-candidatos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card{

    width:360px;
    height: 150px;
    border-radius: 40px;
    background-color: rgb(250, 246, 246);
    border: 1px solid rgb(164, 162, 162);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 25px;
    margin: 20px;
  }
  
  .card-corpo{
    display: flex;
    flex-direction: row;

  }
  
  .card-itens{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  }
  
    
  .card .imagens{
    display: flex;
    align-items: center;
  }
  
  .imagem-candidato{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .nome-empresa{
    font-size: 15px;
    color: rgb(117, 117, 117);
  }
  
  .nome-vaga{
    font-size: 17px;
    text-decoration: solid;
  }
  
  .informacao-vaga{
    font-size: 14px;

  }
  
  .tres-pontinhos{
    display: block;
    margin-top: 3%;
    margin-bottom: auto;
  
  }
  
  .tres-pontinhos a{
  color: gray;
  
  }
  
  .seta-dropdown .icon-seta{
    font-size: 25px;
  }

  .notificacoes-candidato{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  