body{
  background-color:#ffffff; 
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-left:200px; /* Same as the width of the sidenav */
  margin-right:200px;
  overflow:hidden;
} 

.cards-candidatos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card{
  width:360px;
  height: 100%;
  border-radius: 40px;
  background-color: rgb(250, 246, 246);
  border: 1px solid rgb(164, 162, 162);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 25px;
  margin: 20px;
  z-index: 1;
}

.card-corpo{
  display: flex;
  flex-direction: row;

}

.card-itens{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

  
.card .imagens{
  display: flex;
  align-items: center;
}

.imagem-candidato{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.nome-empresa{
  font-size: 15px;
  color: rgb(117, 117, 117);
}

.nome-vaga{
  font-size: 17px;
  text-decoration: solid;
}

.informacao-vaga{
  font-size: 14px;

}

.tres-pontinhos{
  display: block;
  margin-top: 3%;
  margin-bottom: auto;

}

.tres-pontinhos a{
color: gray;

}

.seta-dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}



.seta-dropdown .icon-seta{
  font-size: 25px;
  transform: rotate(0deg);
}

.notificacoes-candidato{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}


.modal-candidato {
  display: none;
  width:380px;
  z-index: 4;
  position: relative;
}

.card-candidato-modal{
  margin-top: 10px;
  width:auto;
  height:50px;
  border: 1px solid rgba(138, 136, 136, 0.83);
  border-radius: 45px;
  background-color: rgb(246, 240, 240);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 15px;
  }
  
  .card-corpo-canditado{
  display: flex;
  flex-direction: row;

  }
  
  .card-itens-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  }
  
  .card-candidato-modal .imagens-modal{
  display: flex;
  align-items: center;
  
  }
  
  .imagem-candidato-modal{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  }
  
  .nome-candidato-modal{
  font-size: 15px;
  text-decoration: solid;
  }
    
  .entrevista-modal{
  font-size: 13px;
  color: rgb(117, 117, 117);
  }
  
  .tres-pontinhos{
  margin-top: 3%;
  margin-bottom: auto;
  cursor: pointer;
  z-index: 5;
  }
  
  .tres-pontinhos a .pontinhos{
  color: gray;
  }


  .modal-aluno {
    display: flex;
    position: absolute;
    z-index: 1;
  }

.card-modal-aluno .link-modal {
  text-decoration: none;
  font-size: 13px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  z-index: 5;
}

.card-modal-aluno {
  background-color: #ffffffbf;
  padding: 15px;
  border: 1px solid rgb(103, 102, 102);
  border-radius: 15px;
  z-index: 1;
}

.icon-modal{
  color: rgb(28, 31, 200);
  font-size: 20px;
  z-index: 5;
}


.card-reagendar{
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 50px;
  display: none;
  z-index: 5;
  position: fixed;
  position:fixed;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 400px;
  padding: 40px;
  font-family: monospace;
  font-size: 20px;
}

.card-reagendar .itens-reagendar{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 25px;
}

.card-reagendar .itens-reagendar input{
 border: none;
 background-color: rgb(201, 198, 198);
 padding: 10px;
 border-radius: 20px;
}

.card-reagendar .itens-reagendar input:focus{
outline: none;
 }

.card-reagendar form button{
  border: none;
  background-color: rgb(44, 26, 148);
  color: white;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.card-reagendar form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
