main {
  margin-left: 22%;
}
main .align-itens {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
main .align-itens .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px;
  gap: 25px;
  background-color: rgb(234, 231, 231);
  border-radius: 15px;
  box-shadow: 0px 20px 18px -10px #9b9b9b;
  width: 400px;
  height: 400px;

}
main .align-itens .card .itens-card {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
}
main .align-itens .card .itens-card h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

.tabela .align-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}


.tabela .align-links button {
  padding: 10px 10px 10px 10px;
  border: 1px solid;
  border-radius: 15px;
  border: 1px solid #555cb3;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: white;
  color: #555cb3;
  transition: 0.5s all ease-in-out;
}
.tabela .align-links button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: 0.5s all ease-in-out;
}

.tabela {
  border-radius: 15px;
  border: none;
  background-color: #555cb3;
  box-shadow: 0px 20px 18px -10px #9b9b9b;
}
.tabela p {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
main .align-itens table {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 600px;
  box-shadow: 0px 20px 18px -10px #9b9b9b;
}

th{
  padding: 10px;
}

main .align-itens .infos {
  border-bottom: 1px solid rgb(80, 80, 80);
}

main .align-itens table td {
  color: rgb(0, 0, 0);
  padding: 10px;
width: 100%;

}

main .align-itens tr:nth-last-child(1) {
  border: none;
}
td .container-perfil .img-perfil {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
td .container-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
}
td .container-perfil .img-perfil img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}

#result{
  overflow-y: scroll;
  max-height: 400px;
  max-width: 700px;
}


.icon-1{
  background-color: transparent;
  }

  .icon-2 {
    background-color: transparent;
    }


.icon-1 a{
  color: green;
  border-radius: 100px;
  transition: 0.300s ease-in-out;
  font-size: 20px;
  width: 20px;
  padding: 8px;
  text-align: center;
  display: flex;
text-align: center;
align-items: center;
justify-content: center;
text-decoration: none;
}

.icon-1 a:hover{
  background-color: green;
 color: white;
}


.icon-2 a{
  display: flex;
  text-decoration: none;
  color: red;
  border-radius: 100px;
  transition: 0.300s ease-in-out;
  font-size: 20px;
  width: 20px;
  padding: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon-2 a:hover{
  background-color: rgb(255, 0, 0);
 color: white;
}

.voltar-pag{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100px;
}

.body-voltar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.body-voltar span h1{
font-size: 25px;
}


.icon-voltar a{
  font-size: 25px;
  color: white;
  padding: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid red;
  background-color: red;
  border-radius: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.300s ease-in-out;
}

.icon-voltar a:hover{
  font-size: 25px;
  color: red;
  padding: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid red;
  background-color: white;
  border-radius: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}