body {
  background-image: url(../img/bg-contato-aluno.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.518);
}

h1 {
  margin-top: 100px;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  padding-bottom: 25px;
}

.titulo {
  border-bottom: 2px solid #9ab4ff;
  width: 50%;
  margin: 15px;
}

textarea,
input,
select:focus {
  outline: none;
}

.formulario {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 2%;
}

.box-input {
  background-color: #114baf;
  width: 350px;
  margin: 10px;
  margin-left: 0px;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

input {
  background-color: #114baf;
  border: none;
  color: #fff;
  font-size: 1rem;
}

textarea {
  border: #114baf 2px solid;
  color: #000;

  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
  width: 350px;
}

textarea::placeholder {
  color: #000;
}

.align {
  display: flex;
  align-items: center;
}

select {
  background-color: #114baf;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  width: 100px;
  font-size: 1rem;
}

.btn {
  background-color: #fff;
  color: #062863;
  font-weight: 800;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 25%;
  cursor: pointer;
}
.icone {
  /*
    float: right;
    margin-top: 22%;
    margin-right: 40px;*/
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.input-box input:is(:focus, :valid) ~ .label-anim {
  transform: translateY(-100%) scale(0.7);
  background-color: #ffffff;
  padding-inline: 0.3rem;
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  left: 1%;
}

.label-anim {
  position: absolute;
  left: 2%;
  color: black;
  pointer-events: none;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0.8rem;
  animation: 1500ms ease transLabel;
}
.input-box input:focus {
  border: 2px solid #1d44b8;
}
.input-box input {
  all: unset;
  color: black;
  padding: 1rem;
  border: 2px solid #1d44b8;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 93%;
  animation: 1500ms ease trans;
}
.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
