body{
    background-color:#1d2357; 
    font-family: Arial, Helvetica, sans-serif;
  }

  .cards-meio{
    display: flex;
    justify-content: space-evenly;
  }
  
  .card{  
    margin-top: 20px;
    width:750px;
    height: 530px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
  }

  .linha{
    height: 100%;
    width:0;
    border: 1px solid rgb(138, 138, 138);
  }

  
  .card-itens{
    display: flex;
    flex-direction: column;
justify-content: center;
    width: 250px;
  }

  .card .imagens{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
}

.logo{
  width: 160px;
  height:60px;
}

.imagem-ilustra{
    width: 250px;
    height: 300px;
  }
    
  
.titulo-um{
font-size: 25px;
font-weight: bold
}

.titulo-dois{
color: gray;
}

.itens-agendar{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.titulo-agendar{
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: solid;

}

.barra-agendar input{
  border-radius: 12px;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(3, 3, 70);  
  margin-bottom: 10px;
}

.botao-agendar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color:#181d49; 
  border-radius: 40px;
  height: 30px;
  width: 140px;
}

.botao-agendar a{
  text-decoration: none;
  color: white;
}

.link-senha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textos-cards{
  margin-bottom: 10px;

}