body {
  font-family: Arial, sans-serif;

}

form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  height: 620px;
  border-radius: 10px;
  padding: 20px;
}

.align {
  display: flex;
  justify-content: center;
}

.align-tabela {
  display: flex;
  gap: 200px;

}

h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


.align-tudo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 200px 0px 100px 0px;
}

.button {
  padding: 11px;
  border-radius: 15px;
  border: 1px solid #0a3580;
  background-color: #0a3580;
  width: 200px;
  font-weight: 600;
  color: white;
  transition: 0.2s all ease-in-out;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: white;
  color: #0a3580;
  transition: 0.2s all ease-in-out;
}


