h1 {
    color: #737373;
    text-align: center;
    padding-top: 10%;
    font-size: 2rem;
    margin-bottom: 50px;

}

.infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
}

.box {
    width: 100%;
    display: block;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 30px;
}
.one-bar {
    display: flex;
    background-color: #acd5ff;
    padding: 15px;
    margin: 5px 0px 5px 10px;
    width: 100%;
    align-items: baseline;
    border-radius: 10px;
}

.two-bars {
    display: flex;
    justify-content: center;
    width: 104%;
    gap: 10px;

}
.trocar-pag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px ;
    color: #2e2877;
    font-size: 1.3rem;
    width: 100%;
    font-weight: 700;
}
.trocar-pag h2{
    cursor: pointer;
}

/*#line{
    width: 20%;
    height: 5px;
    background-color: #2e2877;
    margin-left: 9.2%;
}
linha para se mover, fazer animaçao futuramente no js
*/
.bar {
    display: flex;
    background-color: #acd5ff;
    padding: 15px;
    align-items: baseline;
    border-radius: 10px;
    width: 100%;
}
.bar:nth-child(1){
    margin-left: 10px;
}

.info-pessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info-academica{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h3 {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 600;
}

h4 {
    font-size: 1.1rem;
    color: #000000;
    margin-left: 5px;
}

button {
    width: 90%;
    border-radius: 5px;
    padding: 3px;
}
.one-bar, .two-bars{
    margin-top: 10px;
    margin-bottom: 10px;
}