h1 {
    color: #737373;
    text-align: center;
    font-size: 2rem;
    padding-top: 10%;
    margin-bottom: 10px;
}
.box {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100%;
    flex-direction: column;
}

.cima-esquerda {
    width: 15%;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: -1;
}

.cima-direita {
    width: 8%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.inicio{
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    align-items: center;

}
.left h2{
    font-size: 2.8rem;
    text-shadow: 5px 5px 10px rgb(172, 172, 172);
    font-weight: bold;
    color: rgb(53, 53, 53);
}
.inicio img{
    width: 80%;
}
.right, .left{
    
    display: flex;
    justify-content: center;
}


