body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(86, 171, 238);
    background: radial-gradient(circle, rgba(86, 171, 238, 1) 0%, rgba(0, 27, 173, 1) 100%);
    letter-spacing: 1px;
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

fieldset {
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 90px;
    width: 350px;

}

legend {
    padding: 15px;
    text-align: center;
    background-color: rgb(0, 2, 121);
    border-radius: 100%;
    font-size: 45px;
    padding: 25px;
}

.inputUser {
    background-color: rgb(207, 207, 207);
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 10px;
}

.btn {
    margin-top: 20px;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    width: 35%;
    height: 38px;
    border-radius: 20px;
    font-size: 100%;
    margin-bottom: 20px;
}

.btn:hover {
    cursor: pointer;
    width: 36%;
    transition: 0.2s;

}

.botao {
    display: flex;
    justify-content: center;
    width: 90%;

}

.inputBox {
    display: flex;
    color: #fff;
    background-color: rgb(207, 207, 207);
    border-radius: 100px;
    padding: 5px;
    align-items: baseline;
    width: 70%;
}

img {
    width: 60%;
}

.btn-cadastro {
    background-color: #fff;
    color: rgb(38, 30, 255);
    
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    font-size: 100%;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    width: 170px;
    transition: 0.5s;

}

p {
    margin-top: 30px;
    color: #fff;
    font-size: 12px;
}
.labelInput{
    margin-left: 10px;
}
.icone{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
}
input:focus{
    outline: 0;
}
input::placeholder{
    color: white;
}
.inputBox i{
    margin-left: 10px;
}