body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #737373;
    text-align: center;
    padding-top: 1%;
    font-size: 2rem;
}

.card-empresa .header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-empresa {
    background-color: #CDCDCD;
    width: 400px;    
    height: 270px;
    padding: 15px;
    justify-content: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-empresa .descricao-empresa{
    width: 70%;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
p{
    text-align: justify;
}
.card-empresa img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: #0a3580 3px solid;
    
}
.container-cards{
    display: flex;
    width: 960px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.empresas {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}
.align{
    width: 100%;
}
.linha{
    background-color:#0a3580;
    width: 90%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 35%;
    background-color: #0a3580;
    color: white;
}
