h1 {
    color: #737373;
    text-align: center;
    padding-top: 10%;
    font-size: 2rem;
}

.card-empresa .header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-empresa {
    background-color: #CDCDCD;
    width: 380px;    
    height: 230px;
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
}
.card-empresa .descricao-empresa{
    width: 70%;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
p{
    text-align: justify;
}
.card-empresa img {
    width: 20%;
    background-color: aliceblue;
}

.empresas {
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    margin-top: 50px;

}
.align{
    width: 100%;
    position: absolute;
}
.linha{
    background-color:#3C86D1;
    width: 90%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 35%;
    background-color: #004AAD;
    color: white;
}
