h1 {
    color: #737373;
    text-align: center;
    padding-top: 10%;
    font-size: 2rem;
    margin-bottom: 50px;

}

dialog {
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0382ac;
    color: #fff;
    padding: 2%;
}

.filtro {
    width: 100%;
    display: flex;
}

.filtro form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.icone-filtro {
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
    align-items: center;
}

.icone-filtro i {
    font-size: 2rem;
}

.option-filter {
    display: flex;
    gap: 10px;
    color: black;
    font-weight: 600;
    align-items: baseline;
    cursor: pointer;
    font-size: 1.2rem;
    width: 200px;
}

.btn-filtro {
    background-color: #0a3580;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.option-filter label {
    cursor: pointer;

}

.option-filter select {
    width: 100%;
    font-weight: 700;
    border: none;
    font-size: 1rem;
}

select:focus {
    outline: none;
}

.option-filter select {
    cursor: pointer;
}
.container{
    display: flex;
}
.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 20%;
    padding-left: 20px;
}

.perfil a {
    text-decoration: none;
    color: #000;
    margin-top: 50px;
}

.div-img {
    width: 150px;
    height: 150px;
    border: 2px solid #0a3580;
    border-radius: 100%;
}

.div-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vagas {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.align-cards {
    display: flex;
    width: 720px;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: start;
}

.align-cards .cards {
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    width: 320px;
    height: 190px;
    justify-content: center;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.437);
}

.vagas .align-cards .cards .localidade {
    display: flex;
}

.vagas .align-cards .cards .localidade h4 {
    margin-right: 20px;
    color: rgb(108, 108, 108);
}

.vagas .align-cards .cards h4 {
    padding: 5px;
}

.vagas .align-cards .cards button {
    background-color: #0a3580;
    padding: 8px 5px;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: ease-in-out 0.1s;
}

.vagas .align-cards .cards button:hover {
    scale: 1.01;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.455);
}

.box {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
}

.container-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh; 
    width: 47vw;
}

.header-modal {
    display: flex;
    width: 100%;
}

#closeModal {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
}

#closeModal:hover {
    scale: 1.1;
    background-color: white;

}

#closeModal i {
    font-size: 2rem;
}

.info-empresa {
    display: flex;
    width: 100%;
    padding-left: 25px;
    align-items: center;
    gap: 20px;
}

.div-img-modal {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid #0a3580;

}

.img-modal {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sobre-empresa {
    color: #fff;
    line-height: 20px;
}

.sobre-empresa h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.sobre-empresa h4 {
    font-size: 1.5rem;
}

.sobre-empresa h4 {
    font-size: 0.8rem;
}

.sobre-vaga {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;

}

.conhecimento {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conhecimento h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.conhecimento ul {
    list-style: disc;
    font-size: 1.1rem;

}

.conhecimento ul li {
    line-height: 24px;
}

.desc-vaga {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.desc-vaga h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.desc-vaga div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.desc-vaga p {
    text-align: justify;
    width: 80%;
    font-size: 1.1rem;
    line-height: 20px;
    letter-spacing: 1px;
}

#btn {
    background-color: #fff;
    color: #1c82c6;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 25px;
    cursor: pointer;
}

#btn:hover {
    scale: 1.05;
}

.cima-esquerda {
    width: 15%;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 0;
}

.cima-direita {
    width: 8%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}