h1 {
    color: #737373;
    text-align: center;

    font-size: 2rem;

}

.vagas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    position: absolute;
    width: 100%;
    flex-direction: column;

}

.itens-vagas {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
}

.img-perfil {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px rgb(0, 0, 0) solid;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 10px;
}

.vagas .container-cards {
    display: flex;
    gap: 10%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    z-index: 1;

}

.vagas .container-cards .cards {
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    width: 320px;
    height: 190px;
    justify-content: center;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.437);
    margin-top: 50px;
}

.vagas .container-cards .cards .localidade {
    display: flex;
}

.vagas .container-cards .cards .localidade h4 {
    margin-right: 20px;
    color: rgb(108, 108, 108);
}

.vagas .container-cards .cards h4 {
    padding: 5px;
}

.vagas .container-cards .cards button {
    background-color: #5382B2;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.filtro {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;

}

.filtro .align {
    display: flex;
}

.filtro .align .palavra-chave {
    width: 63px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.palavra-box,
select {
    height: 25px;
    margin-top: 5px;
    border: none;

}

.filtro .align select,
.palavra-box {
    margin-left: 10px;
}

.titulo-filtro {
    margin-bottom: 15px;
    margin-left: 10px;
}

.filtro .button {
    background-color: #5382B2;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

dialog {
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    height: 350px;
    width: 550px;
    justify-content: center;
    align-items: center;
}

.conhecimentos {
    text-align: center;
}

.conhecimentos li {
    margin-top: 10px;
}

.conhecimentos ul {
    margin-top: 20px;
    font-size: 0.8rem;
}

.conhecimentos {
    margin-top: 40px;
}

.card-empresa .header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-empresa {
    padding: 10px;
    border-radius: 15px;

}

.card-empresa .descricao-empresa {
    gap: 10px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.descricao-empresa h4 {
    font-size: 0.7rem;
    font-weight: 800;
}

.descricao-empresa h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    text-align: justify;
    font-size: 1rem;

}

.desc-vaga {
    width: 260px;
}

.card-empresa img {
    width: 30%;
    border-radius: 100%;
}

dialog button {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 35%;
    background-color: #5382B2;
    color: white;
    cursor: pointer;

}

dialog h2 {
    font-size: 2rem;
}

.part2 i {
    font-size: 2rem;
}

.part1 {
    display: flex;
}

.secao-perfil {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 80px;
}
.secao-perfil a{
    color: #000;
    text-decoration: none;

}