h1 {
    color: #737373;
    text-align: center;
    padding-top: 10%;
    font-size: 2rem;
    margin-bottom: 50px;

}

.itens-vagas {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
}

.img-perfil {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px rgb(0, 0, 0) solid;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: start;
}

.vagas .container-cards .cards {
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    width: 320px;
    height: 190px;
    justify-content: center;
    box-shadow: 0px 25px 20px -15px rgba(0, 0, 0, 0.437);
}

.vagas .container-cards .cards .localidade {
    display: flex;
}

.vagas .container-cards .cards .localidade h4 {
    margin-right: 20px;
    color: rgb(108, 108, 108);
}

.vagas .container-cards .cards h4 {
    padding: 5px;
}

.vagas .container-cards .cards button {
    background-color: #5382B2;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.filtro {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    margin-top: 15px;
}

.filtro .align {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filtro .align .palavra-chave {
    width:100px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.palavra-box,
select {
    height: 25px;
    margin-top: 5px;
    border: none;

}

.filtro .align select,
.palavra-box {
    margin-left: 10px;
}

.titulo-filtro {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 1.5rem;
}
#icon-filtro{
    font-size: 3rem;
    color: #4037a1;
    font-weight: 800;
}
.filtro-header{
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}
.filtro .button {
    background-color: #5382B2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 1rem;
    padding:10px;
}

dialog {
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    height: 350px;
    width: 550px;
    justify-content: center;
    align-items: center;
}

.conhecimentos {
    text-align: center;
}

.conhecimentos li {
    margin-top: 10px;
}

.conhecimentos ul {
    margin-top: 20px;
    font-size: 0.8rem;
}

.conhecimentos {
    margin-top: 40px;
}

.card-empresa .header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-empresa {
    padding: 10px;
    border-radius: 15px;

}

.card-empresa .descricao-empresa {
    gap: 10px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.descricao-empresa h4 {
    font-size: 0.7rem;
    font-weight: 800;
}

.descricao-empresa h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    text-align: justify;
    font-size: 1rem;

}

.desc-vaga {
    width: 260px;
}

.card-empresa img {
    width: 30%;
    border-radius: 100%;
}

dialog button {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 35%;
    background-color: #5382B2;
    color: white;
    cursor: pointer;

}

dialog h2 {
    font-size: 2rem;
}

.part2 i {
    font-size: 2rem;
}

.part1 {
    display: flex;
}

.secao-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}
.secao-perfil a{
    color: #818181;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;

}
.control {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 100px;
}
.box {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
}
.cima-esquerda{
    width: 15%;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 0;
}
.cima-direita{
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
/*.baixo-esquerda{
    width: 10%;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.baixo-direita{
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}*/