body {
    font-family: Arial, Helvetica, sans-serif;
  }

  
  .imagem-3{
    position: fixed;
    width: 10%;
    left: 0;
    bottom: 0;
    z-index: -5;
  }
  .imagem-4{
    position: fixed;
    bottom: -30px;
    object-fit: cover;
    right: -30px;
    width: 20%;
    z-index: -5;

  }


  #form-control {
    width: 100%;
    font-weight: 700;
    border: none;
    font-size: 1rem;
  }

  select {
    cursor: pointer;
}
.filtro{
    width: 100%;
}
  .filtro-icon{
    display: flex;
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
    align-items: center;
    gap: 10px;
  }

  .filtro-icon i{
    font-size: 2rem;
  }

  #contain-filtro{
    display:flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
  }

  #botao-filtro{
    background-color: #0a3580;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  h5 {
    text-align: center;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }

  #barra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 4%;
   margin-left: 10%;
   margin-right: 10%;
  }

  #card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #0a3580;
  color: white;
    border-radius: 20px;
    width: 350px;
    height: 160px;
    border: none;
    gap: 10px;
}

.nao-aceito {
color: yellow;
}

.aceito {
  color: rgb(0, 255, 13);
  }

.vaga{
    font-size: 25px  ;
}